div.img {
  margin: 5px;
  padding: 5px;
  border: 1px solid #0000ff;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}

div.img img {
  display: inline;
  margin: 5px;
  border: 1px solid #ffffff;
}

div.img img:hover {
  border: 1px solid #0000ff;
}
