{{#link-to 'user' '42517316@N04'}}/user/rajesh_kr{{/link-to}}<br>
{{#link-to 'user' '47330252@N03'}}/user/sushmitkumar{{/link-to}}<br>

<br>
Just type in URL <b><span style="color:green">/user/user_id</span></b> 
<p>not <span style="color:red">/user/user_name</span></p>

<hr />
{{#link-to 'interesting'}}/interesting{{/link-to}}
To see 99 interesting photos from flickr
