{{#link-to 'user' '42517316@N04'}}/user/rajesh_kr{{/link-to}}<br>
{{#link-to 'user' '47330252@N03'}}/user/sushmitkumar{{/link-to}}<br>

<br>
Just type in URL /user/user_id 
<p color="red">not /user/user_name</p>
