{{#each pictures as |info|}}
  {{#if info}}
    {{#light-box href=info.url data-lightbox="flickr" data-title=info.title inlineImage=false}}
      <div class="img">
        <img src="{{info.thumbnail}}" width="100" height="100" >
      </div>
    {{/light-box}}
  {{/if}}
{{/each}}
